@model  DemoMvc.Models.AuthorListingViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách tác giả</h2>

<p>
    @Html.ActionLink("Thêm tác giả", "Create")
</p>

@using (Html.BeginForm("Index", "Author"))
{
    @Html.TextBoxFor(model => model.Keyword);
    @Html.ValidationMessageFor(model => model.Keyword)
    <button type="submit">Tìm kiếm</button>
}

<table class="table">
    <tr>
        <th>
            Id
            <input type="button" value="⇧" onclick=" location.href = '@Url.Action("Index", "Author", new {Page = Model.Page, sortRequest = "IdAsc", keyword = Model.Keyword})' " />
            <input type="button" value="⇩" onclick=" location.href = '@Url.Action("Index", "Author", new {Page = Model.Page, sortRequest = "IdDesc", keyword = Model.Keyword})' " />
        </th>
        <th>
            Name
            <input type="button" value="⇧" onclick=" location.href = '@Url.Action("Index", "Author", new {Page = Model.Page, sortRequest = "NameAsc", keyword = Model.Keyword})' " />
            <input type="button" value="⇩" onclick=" location.href = '@Url.Action("Index", "Author", new {Page = Model.Page, sortRequest = "NameDesc", keyword = Model.Keyword})' " />
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model.Listing)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id}) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id, currentPage = Model.Page }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id })

                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id })
                </td>
            }
        </tr>
    }

</table>

@Html.ActionLink("First Page", "Index", new { sortRequest = Model.sortRequest, Page = 0, keyword = Model.Keyword })
<br />
@Html.ActionLink("Prev", "Prev", new { Page = Model.Page, sortRequest = Model.sortRequest, keyword = Model.Keyword })
@Html.DisplayFor(model => model.Pager)
@Html.ActionLink("Next", "Next", new { Page = Model.Page, sortRequest = Model.sortRequest, keyword = Model.Keyword })
<br />
@Html.ActionLink("Last Page", "Index", new { sortRequest = Model.sortRequest, Page = Model.lastPage, keyword = Model.Keyword })

<p>Total page: @Html.DisplayFor(model => model.totalPage)</p>

@if (Model.Keyword != string.Empty && Model.Keyword != null) 
{ 
    <div>
        @Html.ActionLink("Quay về danh sách", "Index", new { Page = 0, keyword = "" })
    </div>
}




