@model  DemoMvc.Models.AuthorListingViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách tác giả</h2>

<p>
    @Html.ActionLink("Thêm tác giả", "Create")
</p>

@using (Html.BeginForm("Search", "Author"))
{
    @Html.TextBoxFor(model => model.Keyword);
    @Html.ValidationMessageFor(model => model.Keyword)
    <button type="submit">Tìm kiếm</button>
}

<table class="table">
    <tr>
        <th>
            Id
            <input type="button" value="⇧" onclick=" location.href = '@Url.Action("Index", "Author", new {Page = Model.Page, sortRequest = "IdAsc"})' " />
            <input type="button" value="⇩" onclick=" location.href = '@Url.Action("Index", "Author", new {Page = Model.Page, sortRequest = "IdDesc"})' " />
        </th>
        <th>
            Name
            <input type="button" value="⇧" onclick=" location.href = '@Url.Action("Index", "Author", new {sortRequest = ""})' " />
            <input type="button" value="⇩" onclick=" location.href = '@Url.Action("Index", "Author", new {sortRequest = "Name"})' " />
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model.Listing)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@if (Session["AuthorSearch"].ToString() == "")
{
    @Html.ActionLink("Prev", "Prev", new { Page = Model.Page, sortRequest = Model.sortRequest })
    @Html.DisplayFor(model => model.Pager)
    @Html.ActionLink("Next", "Next", new { Page = Model.Page, sortRequest = Model.sortRequest })
}
else
{
    @Html.ActionLink("Prev", "PrevSearch", new { Page = Model.Page, Keyword = Model.Keyword })
    @Html.DisplayFor(model => model.Pager)
    @Html.ActionLink("Next", "NextSearch", new { Page = Model.Page, Keyword = Model.Keyword })

    <div>
        @Html.ActionLink("Quay về danh sách", "Index")
    </div>
}

