@model DemoMvc.Models.AuthorListingViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Kết quả tìm kiếm cho "@Html.DisplayFor(Model => Model.Keyword)"</h2>


<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model.Listing)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Prev", "PrevSearch", new { Page = Model.Page, Keyword = Model.Keyword })
@Html.DisplayFor(Model => Model.Pager)
@Html.ActionLink("Next", "NextSearch", new { Page = Model.Page, Keyword = Model.Keyword })

<br />

<div>
    @Html.ActionLink("Quay về danh sách", "Index")
</div>